.default
{
    background-color: gray;
    color: black;
}

.spaghetti
{
    color: wheat;
}

.bistecca
{
    color: red;
}

.salmone
{
    color: salmon;
}

.insalata
{
    color: lawngreen;
}

.frutta
{
    color: papayawhip;
}